{% extends 'index/base.html' %}


{% block show_note_txt %}
<h1>Current Note</h1>
{{ note.txt }}
{% endblock %}


{% block assist_form %}
<h1>Add Assist</h1>
<form action="/index/create_assist/{{ note.id }}" method="post">
    <label for="assist">Assist</label>
    <input name="assist" id="assist" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="email">email</label>
    <input type="email" name="email" id="email" required>
    <input type="submit" value="Create">
</form>
{% endblock %}


{% block assist_list %}
<h1>Assist List</h1>

{% for assist in assist_list %}
<a href="{{ url_for('index.show_assist_detail', assist_id=assist.id) }}"><p>{{ assist.name }}</p></a>
{% endfor %}

{% endblock %}
