{% extends 'index/base.html' %}


{% block assist_list %}
<h1>Assist List</h1>
{% for assist in assist_list %}
<a href="{{ url_for('index.show_assist_detail', assist_id=assist.id) }}"><p>{{ assist.name }}</p></a>
{% endfor %}
{% endblock %}


{% block show_note_list %}
<h1>Note List</h1>
{% for note in note_list %}
<a href="{{ url_for('index.view', note_id=note.id) }}"><p>{{note.id}} : {{ note.title }} : {{ note.txt }}</p></a>
{% endfor %}
{% endblock %}

{% block create_note %}
<a href="{{ url_for('index.create') }}">CreateNote</a>
{% endblock %}

{% block flash %}
{% with messages = get_flashed_messages(category_filter=["authority"]) %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}
