<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <ul>
        {% if g.user %}
        <li><a href="{{ url_for('user.logout') }}">Log Out</a>
        {% else %}
        <li><a href="{{ url_for('user.register') }}">Register</a>
        <li><a href="{{ url_for('user.login') }}">Log In</a>
        {% endif %}
    </ul>

    {% block head%}{% endblock %}


    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block form_action%}
    <form action="/note/user/login" method="post">
    {% endblock %}
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    {% block form%}
        <input type="submit" value="Log In">
    {% endblock %}
    </form>

    <br>

    <h1>User List</h1>
    {% for user in user_list %}
    <p>{{ user.id }} : {{ user.name }} : {{ user.password }}</p>
    {% endfor %}

    <h1>Assist List</h1>
    {% for assist in assist_list %}
    <p>{{ assist.id }} : {{ assist.name }} : {{ assist.password }}</p>
    {% endfor %}

</body>
</html>