{%  extends 'note/index/base.html' %}


{% block modify_note %}
<form action="/note/index/modify_note/{{ note.id }}" method="post">
    <label>Title:</label>
    <input name="title" id="title" value={{ note.title }} required>
    <label>Txt</label>
    <input type="text" name="txt" id="txt" value={{ note.txt }} required>
    <input type="submit" value="Modify">
</form>
{% endblock %}

{% block show_note_list %}
<h1>Note List</h1>
{% for note in note_list %}
<a href="{{ url_for('index.view', note_id=note.id) }}"><p>{{ note.id }} : {{ note.title }} : {{ note.txt }}</p></a>
{% endfor %}
{% endblock %}
